.hw-left-navigation {
  position: fixed;
  left: -210px;
  top: 0;
  background: white;
  z-index: 9999;
  padding-top: 35px;
  height: 100vh;
  width: 200px;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.hw-left-navigation.hw-active-left-navigation {
  left: 0;
}

.hw-left-navigation > a {
  margin: 15px 0;
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.hw-left-navigation > a:before {
  content: "";
  height: 2px;
  width: 20px;
  background-color: black;
  left: 15px;
  position: absolute;
  bottom: -5px;
  transition: all 0.3s ease;
}

.hw-left-navigation > a:hover:before {
  width: calc(100% - 50px);
}

.hw-left-navigation > div {
  margin-top: 45px;
  width: 100%;
  padding: 0 25px;
  justify-content: space-around;
  display: flex;
}

.hw-left-navigation > div > a {
  font-size: 35px;
}

@media screen and (min-width: 900px) {
  .hw-navigation > .hw-top-navigation > .hw-toggler {
    display: none;
  }

  .hw-navigation > .hw-top-navigation > .hw-links {
    display: flex;
  }
}
